@media (max-width: 768px) {
    .only-desktop {
        display: none !important;
    }
}

html, body {
    height: 100%;
    margin: 0;
    background: url('/img/background.png') center/cover no-repeat fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Fredoka', sans-serif !important;
}

* {
    font-family: 'Fredoka', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Fredoka', sans-serif !important;
}

@media (min-width: 768px) {
    .section-full-height {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}



