@media (max-width: 768px) {
    .only-desktop {
        display: none !important;
    }
}

html, body {
    height: 100%;
    margin: 0;
    background: url('/img/background.png') center/cover no-repeat fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Fredoka', sans-serif !important;
}

* {
    font-family: 'Fredoka', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Fredoka', sans-serif !important;
}

@media (min-width: 768px) {
    .section-full-height {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.mud-loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/images/background-loading.png'); /* Caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    font-family: 'Roboto', sans-serif;
    backdrop-filter: brightness(0.6); /* escurece levemente pra destacar o loader */
}

.mud-loading-spinner {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-top: 8px solid #00bcd4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-progress-text {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 1px 1px 3px black;
}




