/* /Layout/MainLayout.razor.rz.scp.css */
.layout-container[b-p81oxou8r8] {
    display: flex;
    height: 100vh;
    width: 100vh;
}

.main-content[b-p81oxou8r8] {
    flex-grow: 1;
    background-color: white;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.floating-menu-button[b-u7dajq6sjn] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1100;
}

.floating-menu-panel[b-u7dajq6sjn] {
    width: 250px;
}

.nav-menu[b-u7dajq6sjn]{
    padding: 20px
}
/* /Pages/Home/Sections/Skills.razor.rz.scp.css */
.card-skill[b-xh96ff4fob] {
    min-height: 200px;
    padding-top: 30px;
    padding: 20px;
    max-width: 200px;
}
