

<MudCarousel Class="mud-width-full" Style="height:35vh" ShowArrows="false" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <Skills/>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <Specialization/>
        </div>
    </MudCarouselItem>
</MudCarousel>


@code {

}
