@page "/"
@using Application.Main.Pages.Home.Sections;


<MudContainer MaxWidth="MaxWidth.False" Class="px-0">
    <section class="section full-height bg-primary text-white d-flex align-center justify-center">
        <MudText Typo="Typo.h3" Align="Align.Center">Bem-vindo ao meu Portfólio</MudText>
    </section>

    <section class="section bg-grey-light">
        <MudContainer>
            <Bio/>
        </MudContainer>
    </section>

    <section class="section bg-white">
        <MudContainer>
            <Carousel />
        </MudContainer>
    </section>

    <section class="section bg-grey-lighter">
        <MudContainer>
            <Contact />
        </MudContainer>
    </section>


</MudContainer>




