@page "/"
@using Application.Main.Pages.Home.Sections;



<MudCarousel Class="mud-width-full" Style="height:100vh;" ShowArrows="true"  AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <Skills />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <Bio/>
        </div>
    </MudCarouselItem>
</MudCarousel>

