@page "/"
@using Application.Main.Pages.Home.Sections;


<MudContainer MaxWidth="MaxWidth.False" Class="px-0">
    <section class="section full-height bg-body text-white d-flex align-center justify-center">
        <Bio />
    </section>



    <section class="section bg-white">
        <MudContainer>
            <Carousel />
        </MudContainer>
    </section>

    <section class="section bg-grey-lighter">
        <MudContainer>
            <Contact />
        </MudContainer>
    </section>


</MudContainer>




