.fixed-card {
    width: 100%;
    min-height: 200px !important;
    max-height: 200px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}   