
.menu {
    width: 300px;
    padding: 1rem;
    background-color: #121212; /* Um preto elegante */
    color: white;
}

.menu-card {
    cursor: pointer;
    text-align: center;
    padding: 1rem;
}

    .menu-card:hover {
        background-color: #1e1e1e;
    }
