  <MudPaper Class="menu" Elevation="4">
        <MudStack Spacing="2">
            <MudCard Class="menu-card" @onclick="@(() => NavigateTo("formacao"))">
                <MudCardContent>
                    <MudIcon Icon="School" Size="Size.Large" />
                    <MudText Typo="Typo.h6">Formação Acadêmica</MudText>
                </MudCardContent>
            </MudCard>

            <MudCard Class="menu-card" @onclick="@(() => NavigateTo("experiencias"))">
                <MudCardContent>
                    <MudIcon Icon="Work" Size="Size.Large" />
                    <MudText Typo="Typo.h6">Experiências</MudText>
                </MudCardContent>
            </MudCard>

            <MudCard Class="menu-card" @onclick="@(() => NavigateTo("cursos"))">
                <MudCardContent>
                    <MudIcon Icon="LibraryBooks" Size="Size.Large" />
                    <MudText Typo="Typo.h6">Cursos</MudText>
                </MudCardContent>
            </MudCard>

            <!-- Adicione outros cards aqui -->
        </MudStack>
    </MudPaper>

    <div class="teste">teste </div>


@code {
    [Inject] private NavigationManager Navigation { get; set; }

    private void NavigateTo(string section)
    {
        Navigation.NavigateTo($"#{section}");
    }
}